.animal-show {
    padding: 2em;

    &__actions {
        display: flex;
        margin: 1em 0;
    }

    &__edit-button {
        padding: 0.5em 1em;
        background-color: rgb(52, 143, 185);
        color: white;
        border-radius: 0.25em;
        text-decoration: none;
    }
}